body{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: plum;
    margin-top: 20%;
}

h1{
    font-size: 100px;
}
button {
    font-size: 50px;
    margin-left: 20px;
}

.sim{
    background-color: green;
    color: white;
}

.nao{
    background-color: red;
}